#spotifyHint,
.spotify-table td:nth-child(n+3) {
  white-space: nowrap;
}

@media (max-width: 760px) {
  .top-card.dashboard-header > .channel { display:none; }
  .top-card.dashboard-header { padding-top:0; }
}
